@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    position: relative;
    /* background-image: url('./img/bg.png'); */
}

.cus-container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

.primary-font {
    font-family: "Handlee", cursive;
}





/* Common Css */


.cus-content {
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: flex-start;
    /* max-width: 253px; */
    width: 253px;
}

.cus-content h2 {
    font-size: 32px;
    background-color: #FFC9F0;
    font-family: 'handlee';
    display: inline-block;
}

.cus-content img {
    margin-left: auto;
    transform: rotate(-139deg);
}

.cus-content p {
    color: #0C0C0C;
    font-size: 24px;
    line-height: 140%;
}

.cus-content p span {
    font-weight: 700;
}

.main-line {
    height: 100%;
    width: 3px;
    background-color: #0C0C0C;
    position: absolute;
    left: 50px;
}


/* Common Css */

.cus-header {
    padding: 48px 0;
}

.cus-header nav {
    display: flex;
    gap: 159px;
    justify-content: flex-end;
    align-items: center;
}

.cus-header nav .logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.cus-header nav .logo img {
    max-width: 48px;
}

.cus-header nav .logo span {
    font-family: 'handlee';
    font-size: 36px;
    font-weight: 700;
    color: #0C0C0C;
}

.cus-header nav ul {
    display: flex;
    gap: 32px;
}

.cus-header nav ul li {
    list-style-type: none;
}

.cus-header nav ul li a {
    font-size: 24px;
    font-weight: 400;
    color: #0C0C0C;
}

.cus-header nav ul li .text-effect {
    position: relative;
}

.cus-header nav ul li .text-effect::before {
    content: "";
    background: #FFC9F0;
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: -1;
    bottom: 4px;
}



/* Banner Css */

.banner {
    padding-bottom: 110px;
}

.banner .banner-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
}

.banner .banner-wrap .banner-left .profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 28px;
}

.banner .banner-wrap .banner-left .profile h4 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'handlee';
    background-color: #FFC9F0;
    transform: rotate(-5deg);
    color: #0C0C0C;
}

.banner .banner-wrap .banner-left h1 {
    font-size: 64px;
    font-weight: 700;
    color: #0C0C0C;
    max-width: 474px;
}

.banner .banner-wrap .banner-left h1 span {
    position: relative;
}

.banner .banner-wrap .banner-left h1 span::before {
    content: "";
    background: #FFC9F0;
    width: 100%;
    height: 26px;
    position: absolute;
    z-index: -1;
    bottom: 4px;
}

.banner .banner-wrap .banner-right .content {
    max-width: 477px;
    margin-left: auto;
}

.banner .banner-wrap .banner-right p {
    font-size: 24px;
    color: #0C0C0C;
    line-height: 140%;
    margin-bottom: 30px;
}

.banner .banner-wrap .banner-right .hire-me-btn {
    background-color: #0C0C0C;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 140%;
    padding: 18px 58px;
}


/* What i do css */

.what-i-do .sec-heading {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: flex-start;
}

.what-i-do .sec-heading h2 {
    font-size: 32px;
    background-color: #FFC9F0;
    font-family: 'handlee';
    display: inline-block;
}

.what-i-do .sec-heading img {
    max-width: 100%;
    height: auto;
    transform: rotate(-80deg);
}

.what-i-do .what-i-do-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-top: 40px;
}

.what-i-do .what-i-do-wrap .cus-card {
    min-height: 452px;
    padding: 0 50px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    position: relative;
}

.what-i-do .what-i-do-wrap .cus-card span {
    position: absolute;
    font-size: 32px;
    font-family: 'handlee';
    color: #0C0C0C;
    font-weight: 700;
}

.what-i-do .what-i-do-wrap .cus-card:nth-child(1) {
    background-color: #FFE68C;
    border: 5px solid #EECD56;
    border-radius: 8px;
    transform: rotate(-4deg);
}

.what-i-do .what-i-do-wrap .cus-card:nth-child(1) span {
    background-color: #9DDCFF;
    top: 85px;
    right: -30px;
    transform: rotate(4deg);
}

.what-i-do .what-i-do-wrap .cus-card:nth-child(2) {
    background-color: #9DDCFF;
    border: 5px solid #5AB5E8;
    border-radius: 8px;
    transform: rotate(5.5deg);
}

.what-i-do .what-i-do-wrap .cus-card:nth-child(2) span {
    background-color: #FFC9F0;
    top: -20px;
    right: 26px;
    transform: rotate(-5.5deg);
}

.what-i-do .what-i-do-wrap .cus-card:nth-child(3) {
    background-color: #FFC9F0;
    border: 5px solid #F384D4;
    border-radius: 8px;
    transform: rotate(-5deg);
}

.what-i-do .what-i-do-wrap .cus-card:nth-child(3) span {
    background-color: #FFE68C;
    top: 95px;
    right: -30px;
    transform: rotate(5deg);
}

.what-i-do .what-i-do-wrap .cus-card .box img {
    max-width: 100%;
    height: auto;
}

.what-i-do .what-i-do-wrap .cus-card .box h4 {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 500;
}



/* Feature project css */

.feature-project {
    padding-top: 145px;
}

.feature-project .feature-project-wrap {
    display: flex;
    gap: 42px;
}

.feature-project .cus-content {
    margin-top: 118px;
}

.feature-project .feature-project-wrap .feature-right .box-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 34px;
}

.feature-project .feature-project-wrap .feature-right .box-wrap .box {
    border: 3px solid #000000;
    border-radius: 6px;
    padding: 20px 22px;
}

.feature-project .feature-project-wrap .feature-right .box-wrap .box img {
    width: 100%;
}

.feature-project .feature-project-wrap .feature-right .box-wrap .box .project-detail {
    margin-top: 22px;
    display: flex;
    gap: 37px;
    justify-content: space-between;
}

.feature-project .feature-project-wrap .feature-right .box-wrap .box .project-detail h4 {
    font-size: 28px;
    font-family: 'handlee';
    line-height: 100%;
    color: #0C0C0C;
}

.feature-project .feature-project-wrap .feature-right .box-wrap .box .project-detail button {
    color: #FFFFFF;
    padding: 9px 18px;
    font-size: 18px;
    line-height: 26.9px;
    border-radius: 0 30px 30px 30px;
}

.feature-project .feature-project-wrap .feature-right .box-wrap .box:nth-child(1) button {
    background-color: #F072CD;
    border: 2px solid #DB4A90;
}


.feature-project .feature-project-wrap .feature-right .box-wrap .box:nth-child(2) button {
    background-color: #5AB5E8;
    border: 2px solid #1C6AB1;
}

.feature-project .feature-project-wrap .feature-right .box-wrap .box:nth-child(3) button {
    background-color: #E5C141;
    border: 2px solid #BB9C2A;
}

.feature-project .feature-project-wrap .feature-right .box-wrap .box:nth-child(4) button {
    background-color: #7CF072;
    border: 2px solid #4ED543;
}



/* Work experience css */

.work-experience {
    padding-top: 245px;
    padding-bottom: 105px;
}

.work-experience .work-experience-wrap {
    display: flex;
    justify-content: space-between;
}

.work-experience .work-experience-wrap .work-experience-right {
    position: relative;
}

.work-experience .work-experience-wrap .work-experience-right .line-1,
.work-experience .work-experience-wrap .work-experience-right .line-2,
.work-experience .work-experience-wrap .work-experience-right .line-3,
.work-experience .work-experience-wrap .work-experience-right .line-4 {
    position: absolute;
    background-color: #000000;
}

.work-experience .work-experience-wrap .work-experience-right .line-1 {
    height: 2px;
    width: 120%;
    left: -10%;
}

.work-experience .work-experience-wrap .work-experience-right .line-2 {
    width: 2px;
    height: 130%;
    right: 0;
    top: -15%;
}

.work-experience .work-experience-wrap .work-experience-right .line-3 {
    height: 2px;
    width: 120%;
    bottom: 0;
    left: -10%;
}

.work-experience .work-experience-wrap .work-experience-right .line-4 {
    width: 2px;
    height: 130%;
    left: 0;
    top: -15%;
}

.work-experience .work-experience-wrap .work-experience-right .work-box {
    padding: 64px 118px 78px 71px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.work-experience .work-experience-wrap .work-experience-right .work-box .box {
    display: flex;
    gap: 37px;
}

.work-experience .work-experience-wrap .work-experience-right .work-box .box .box-right .cus-content {
    margin-top: 85px;
}

.work-experience .work-experience-wrap .work-experience-right .work-box .box .box-left {
    font-family: 'Handlee';
    font-size: 48px;
    line-height: 150%;
    color: #000000;
    width: 95px;
    height: 88px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-experience .work-experience-wrap .work-experience-right .work-box .box:nth-child(1) .box-left {
    background-color: #FFE68C;
    border: 2px solid #EECD56;
}

.work-experience .work-experience-wrap .work-experience-right .work-box .box:nth-child(2) .box-left {
    background-color: #9DDCFF;
    border: 2px solid #5AB5E8;
}

.work-experience .work-experience-wrap .work-experience-right .work-box .box:nth-child(3) .box-left {
    background-color: #FFC9F0;
    border: 2px solid #F384D4;
}

.work-experience .work-experience-wrap .work-experience-right .work-box .box .box-right h4 {
    font-size: 24px;
    line-height: 140%;
    color: #0C0C0C;
    margin-bottom: 6px;
}

.work-experience .work-experience-wrap .work-experience-right .work-box .box .box-right p {
    font-size: 18px;
    line-height: 140%;
    color: #0C0C0C;
    margin-bottom: 3px;
}

.work-experience .work-experience-wrap .work-experience-right .work-box .box .box-right span {
    font-size: 16px;
    line-height: 140%;
    color: #706F6F;
}


/* Contact me css */

.contact-me {
    padding-top: 145px;
    padding-bottom: 158px;
}

.contact-me .contact-me-wrap {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.contact-me .cus-content {
    margin-top: 25px;
}

.contact-me .contact-me-wrap .contact-right {
    max-width: 610px;
    width: 100%;
}

.contact-me .contact-me-wrap .contact-right .cus-form .cus-field {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.contact-me .contact-me-wrap .contact-right .cus-form .cus-field label {
    font-size: 32px;
    font-family: "Handlee";
    border-left: 2px solid #0C0C0C;
    white-space: nowrap;
    padding: 0 5px;
}

.contact-me .contact-me-wrap .contact-right .cus-form .cus-field:nth-child(1) label {
    background-color: #FFC9F0;
}

.contact-me .contact-me-wrap .contact-right .cus-form .cus-field:nth-child(2) label {
    background-color: #FFE68C;
}

.contact-me .contact-me-wrap .contact-right .cus-form .cus-field:nth-child(3) label {
    background-color: #9DDCFF;
}

.contact-me .contact-me-wrap .contact-right .cus-form .cus-field input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000000;
    padding: 0 15px;
    font-size: 28px;
    line-height: 140%;
    font-family: "Handlee";
    color: #0C0C0C;
    outline: none;
}

.contact-me .contact-me-wrap .contact-right .cus-form .cus-field input::placeholder {
    color: #0C0C0C;
}

.contact-me .contact-me-wrap .contact-right .cus-form button {
    padding: 20px 42px;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    background-color: #0C0C0C;
}

.contact-me .contact-me-wrap .contact-right .cus-form .btn-align {
    text-align: right;
}




/* Footer css */


.footer {
    padding: 92px 0 35px;
    border-top: 3px solid #0C0C0C;
}

.footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.footer .footer-wrap .logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer .footer-wrap .logo img {
    max-width: 48px;
}

.footer .footer-wrap .logo span {
    font-family: 'handlee';
    font-size: 36px;
    font-weight: 700;
    color: #0C0C0C;
}

.footer .footer-wrap .footer-right ul {
    display: flex;
    gap: 77px;
    margin-bottom: 40px;
}

.footer .footer-wrap .footer-right ul li {
    list-style-type: none;
}

.footer .footer-wrap .footer-right ul li a {
    font-size: 32px;
    font-family: 'Handlee';
    color: #FFFFFF;
    background-color: #0C0C0C;
}

.footer .footer-wrap .footer-right p {
    text-align: center;
    font-size: 24px;
    color: #0C0C0C;
    line-height: 140%;
}